<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>My Blog Site</title>
  <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
  <nav class="navbar bg-dark text-white">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">THE BLOG SITE</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a class="text-white" href="/">HOME</a></li>
        <li id="about"><a class="text-white" href="/about">ABOUT ME</a></li>
        <li id="contact"><a class="text-white" href="/contact">CONTACT</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
